.idea/workspace.xml
*.xml
*.iml
innlevering4/fileError.txt
innlevering4/ErrorLog.txt
innlevering4/fileError.txt
*.class
innlevering4/legesystem.txt
innlevering4/DelF.pdf
*.pdf
*.idea
.DS_Store
*.zip
*.docx
innlevering0
innlevering1
innlevering2
innlevering3
innlevering4
innlevering5
innlevering6
innlevering7
